@model GetByIdProductImageDto

<div class="col-md-5">
    <div class="product-slider-single normal-slider">
        <img src="@Model.Image1" alt="Product Image">
        <img src="@Model.Image2" alt="Product Image">
        <img src="@Model.Image3" alt="Product Image">
        <img src="@Model.Image4" alt="Product Image">
    </div>
    <div class="product-slider-single-nav normal-slider">
        <div class="slider-nav-img"><img src="@Model.Image1" alt="Product Image"></div>
        <div class="slider-nav-img"><img src="@Model.Image2" alt="Product Image"></div>
        <div class="slider-nav-img"><img src="@Model.Image3" alt="Product Image"></div>
        <div class="slider-nav-img"><img src="@Model.Image4" alt="Product Image"></div>
    </div>
</div>